tools/difyworkflow/要件定義.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 要件定義
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/voyage:0.0.5@bbd9d836cc853f699fd9e9d7d3bd85816511a674cfeeaee8055630abed6b86aa
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.6@e2665624a156f52160927bceac9e169bd7e5ae6b936ae82575e14c90af390e6e
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1760832044585-source-1760832056778-target
      source: '1760832044585'
      sourceHandle: source
      target: '1760832056778'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1760832056778-source-1760832061154-target
      source: '1760832056778'
      sourceHandle: source
      target: '1760832061154'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1760832044585-source-1760832065650-target
      source: '1760832044585'
      sourceHandle: source
      target: '1760832065650'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1760832065650-source-1760832068250-target
      source: '1760832065650'
      sourceHandle: source
      target: '1760832068250'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: document-extractor
      id: 1760832044585-source-1760832073650-target
      source: '1760832044585'
      sourceHandle: source
      target: '1760832073650'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1760832073650-source-1760832076610-target
      source: '1760832073650'
      sourceHandle: source
      target: '1760832076610'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1760832076610-source-1760832080898-target
      source: '1760832076610'
      sourceHandle: source
      target: '1760832080898'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1760832068250-source-1760832080898-target
      source: '1760832068250'
      sourceHandle: source
      target: '1760832080898'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1760832061154-source-1760832080898-target
      source: '1760832061154'
      sourceHandle: source
      target: '1760832080898'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1760832080898-source-1760832090538-target
      source: '1760832080898'
      sourceHandle: source
      target: '1760832090538'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 👨‍💼作者：鄭軍
        selected: false
        title: 開始
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: file
          max_length: 48
          options: []
          required: true
          type: file
          variable: file
        - label: query_code
          max_length: 1000
          options: []
          required: true
          type: paragraph
          variable: query_code
        - label: query_spec
          max_length: 997
          options: []
          required: true
          type: paragraph
          variable: query_spec
      height: 169
      id: '1760832044585'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids: []
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          top_k: 4
        query_variable_selector:
        - '1760832044585'
        - query_code
        retrieval_mode: multiple
        selected: false
        title: 知識取得-code
        type: knowledge-retrieval
      height: 53
      id: '1760832056778'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1760832056778'
          - result
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: chatgpt-4o-latest
          provider: langgenius/openai/openai
        prompt_template:
        - id: 9ff202f9-dc0b-4a88-91f9-64c5805e5e38
          role: system
          text: "あなたは日本のSI案件で要件定義を行う上級アーキテクト/ビジネスアナリストです。\n入力として与えるソースコードKB（検索要約/抜粋/メタ情報）だけを根拠に、設計意図・仕様・品質特性を再構成し、日本式の要件定義へ接続できる分析成果を作成してください。推定・仮説は必ず「仮説：」と明記し、要確認事項に整理します。\n\
            \U0001F4E5入力\n<{{#context#}}>\n\n[任意の補助パラメータ]\n<CONTEXT>[プロジェクト背景/一言要約]\n\
            <CONSTRAINTS>[既知の制約（法規/セキュリティ/納期/予算/互換など）]\n<NFR_PREFERENCES>[非機能の優先度(例：可用性>性能>監査)]\n\
            <ID_PREFIX>[\"REQ\",\"NFR\",\"API\",\"DATA\"]  # 付番の接頭辞を上書き\n<DETECTION_LEVEL>[保守的|標準|厳格]\
            \   # 検出厳しさ\n<OUTPUT_DEPTH>[標準|詳細|要約]        # 出力の密度\n\n\U0001F50E分析タスク（実施順）\n\
            コード構成の把握\nリポジトリ/モノレポ構造、サービス境界、主要モジュール、依存関係（内部/外部）。\n実装スタック（言語/フレームワーク/ランタイム/DB/メッセージング/IaC/CI-CD）。\n\
            変更ホットスポット/責務の集中（検出できる場合は 仮説： として明示）。\nAPI/入出力・契約の抽出\nルーティング/コントローラ/ハンドラ/DTO/スキーマ（OpenAPI/GraphQL/Proto等）。\n\
            認証/認可、レート制御、エラー設計、互換性ポリシー（versioning/非推奨化）。\nドメイン/データモデルの再構成\nエンティティ/集約、キー、整合性ルール（トランザクション/イベント駆動）。\n\
            PII分類、保存期間、マスキング/暗号化、監査ログ/越境有無（APPI観点）。\n非機能の根拠抽出（JIS X 25010準拠）\n可用性（冗長化/ヘルスチェック/リトライ/バックオフ/サーキットブレーカ）。\n\
            性能（キャッシュ/インデックス/並列度/キュー/スロットリング/SLI観測点）。\nセキュリティ（依存脆弱性/シークレット管理/CWE/OWASP\
            \ ASVS マッピング）。\n可観測性（ログ/メトリクス/トレース/分散ID/アラート閾値）。\n保守性（テスト密度/静的解析/循環依存/複雑度/レイヤ分離）。\n\
            移植性/互換性（コンテナ/IaC、CI/CD再現性）。\n品質臭/リスク検出\n重複/神クラス/例外握り潰し/N+1/未ハンドル境界/硬結合/秘密情報のハードコード。\n\
            SBOM/ライセンス整合性、EoL依存、サプライチェーン/署名不備（あれば）。\n要求候補へのマッピング\n実装から読み解ける**機能要求（REQ-###）**をユースケース粒度で草案化。\n\
            コード根拠を行番号付きで脚注化。優先度はMoSCoWで暫定付与。\n非機能は測定式/閾値/計測点つきで**NFR-###**化。\n受入観点（検収たたき台）\n\
            REQ/NFRごとに**合格基準×検証方法（テスト/計測/監査）**を結び付け。\n未決事項・仮説・ギャップ\nコードから判断不能な仕様/運用/法務を要確認質問に落とし込む。\n\
            既存実装と期待仕様のギャップを列挙（影響度/対応案/概算工数の仮説）。\nトレーサビリティ初期表\nKB参照 → REQ/NFR → 受入基準\
            \ を連結（要件定義の土台）。\n重要：すべての主張にKBの根拠（ファイル/行）を付す。不明点は「仮説：」で明示。\n\U0001F4E4\
            出力フォーマット\nA. 日本式サマリー（Markdown）\n分析サマリー（範囲/前提/使用基準と限界）\nアーキテクチャ/依存関係の俯瞰（図解テキスト可）\n\
            API/契約一覧（抽出）\n表：API-ID｜目的｜メソッド/パス｜入出力（型/必須/例）｜認可｜レート制限｜エラー｜Version\nドメイン/データモデル（抽出）\n\
            表：エンティティ｜主キー｜整合性ルール｜PII区分｜保存期間｜越境可否｜監査\n非機能要件候補（NFR-###）\n表：ID｜品質特性(JIS\
            \ X 25010)｜測定式/閾値/計測点｜根拠(KB参照)｜優先度\n機能要件候補（REQ-###）\n表：ID｜名称｜要約｜前提/トリガー｜入力/出力｜例外｜優先度(M/S/C/W)｜根拠\n\
            受入観点（たたき台）\n表：対象(REQ/NFR)｜合格基準｜検証方法｜観測点/データソース\n品質臭・リスク登録簿（初版）\n表：RISK-ID｜内容｜確率/影響｜対策｜トリガー｜根拠\n\
            未決事項/要確認質問\n表：Q-ID｜質問内容｜理由（KB根拠）｜回答責任者｜期限\nギャップ一覧（仕様⇄実装）\n表：領域｜現状実装｜望まれる状態（仮説可）｜影響｜対処案\n\
            トレーサビリティ初期表\n表：KB参照｜関連REQ/NFR｜受入基準｜備考\n根拠脚注（repo/path:line で列挙）\nB. 機械可読サマリー（JSON）\n\
            {\n  \"arch\": {\"services\": [], \"deps\": [], \"stacks\": []},\n  \"\
            apis\": [{\"id\":\"API-001\",\"method\":\"GET\",\"path\":\"/v1/items\"\
            ,\"io\":{\"req\":{}, \"res\":{}},\"auth\":\"oauth2\",\"rate_limit\":\"\
            100rpm\",\"version\":\"v1\",\"evidence\":\"<path:line>\"}],\n  \"domain\"\
            : [{\"entity\":\"Order\",\"pk\":\"order_id\",\"rules\":[\"...\"],\"pii\"\
            :\"none\",\"retention\":\"3y\",\"audit\":true,\"evidence\":\"<path:line>\"\
            }],\n  \"requirements\": [{\"id\":\"REQ-001\",\"title\":\"\",\"summary\"\
            :\"\",\"priority\":\"M|S|C|W\",\"evidence\":\"<path:line>\"}],\n  \"nfr\"\
            : [{\"id\":\"NFR-001\",\"quality\":\"availability\",\"metric\":\"uptime%\"\
            ,\"threshold\":\"99.9\",\"measure_point\":\"synthetic-check\",\"evidence\"\
            :\"<path:line>\"}],\n  \"acceptance\": [{\"target_id\":\"REQ-001|NFR-001\"\
            ,\"criteria\":\"\",\"method\":\"test|measure|audit\",\"probe\":\"\"}],\n\
            \  \"risks\": [{\"id\":\"RISK-001\",\"desc\":\"\",\"likelihood\":\"L|M|H\"\
            ,\"impact\":\"L|M|H\",\"mitigation\":\"\",\"trigger\":\"\",\"evidence\"\
            :\"<path:line>\"}],\n  \"gaps\": [{\"area\":\"\",\"current\":\"\",\"desired\"\
            :\"\",\"impact\":\"\",\"option\":\"\",\"evidence\":\"<path:line>\"}],\n\
            \  \"open_questions\": [{\"id\":\"Q-001\",\"question\":\"\",\"reason\"\
            :\"\",\"owner\":\"\",\"due\":\"\"}],\n  \"trace\": [{\"kb_ref\":\"<path:line>\"\
            ,\"req\":[\"REQ-001\"],\"nfr\":[\"NFR-001\"],\"accept\":[\"ACC-001\"]}]\n\
            }\n\n✅品質チェック（自動で実施し、章末に結果を明記）\n根拠完全性：各主張にKB参照（repo/path:line）があるか\nNFRの測定可能性：全NFRに測定式/閾値/計測点があるか\n\
            API完全性：認可/レート制限/エラー/バージョニングの欠落検知\nPII/法令：APPI観点（分類/保存/第三者提供/越境/監査）の抜け\n\
            テスト/受入：すべてのREQ/NFRに合格基準×検証方法が紐付くか\nリスク網羅：品質臭がリスクに反映されているか\n\U0001F5E3\
            出力スタイル\n中立・簡潔・検証可能。日本語。\n推測は「仮説：…」と明示。不明点は質問化して未決事項へ。\n表と箇条書きを多用し、レビュー容易性を最優先。"
        selected: false
        title: LLM-コード分析
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1760832061154'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - f7381d29-d338-4711-9caa-985604009c53
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: rerank-1
            provider: langgenius/voyage/voyage
          top_k: 4
        query_variable_selector:
        - '1760832044585'
        - query_spec
        retrieval_mode: multiple
        selected: false
        title: 知識取得-spec
        type: knowledge-retrieval
      height: 91
      id: '1760832065650'
      position:
        x: 384
        y: 374
      positionAbsolute:
        x: 384
        y: 374
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1760832065650'
          - result
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: chatgpt-4o-latest
          provider: langgenius/openai/openai
        prompt_template:
        - id: 49c4c579-43f6-4b9c-9c2d-4547377d38d4
          role: system
          text: "あなたは日本のSI案件で要件定義を行う上級ビジネスアナリスト/アーキテクトです。\n入力として与えるスペックKB（仕様書・画面定義・API定義・ER/DDL・運用SOP・SLA/契約・法務/規程・監査ログ方針\
            \ 等）だけを根拠に、矛盾・曖昧・欠落を特定し、日本式の要件定義に収斂する分析成果を作成してください。推測は必ず「仮説：」と明記し、要確認事項に整理します。\n\
            \U0001F4E5入力\n<{{#context#}}>\n\n[任意の補助パラメータ]\n<CONTEXT>[プロジェクト背景/対象業務の一言要約]\n\
            <CONSTRAINTS>[既知の制約（法規/セキュリティ/納期/予算/互換など）]\n<NFR_PREFERENCES>[非機能の優先度(例：可用性>性能>監査)]\n\
            <ID_PREFIX>[\"REQ\",\"NFR\",\"API\",\"DATA\"]  # 付番の接頭辞\n<DETECTION_LEVEL>[保守的|標準|厳格]\
            \   # 矛盾/曖昧検出の厳しさ\n<OUTPUT_DEPTH>[標準|詳細|要約]        # 出力の密度\n\n\U0001F50E\
            分析タスク（実施順）\nスペック全体の体系化\n文書種別・改定履歴・適用範囲・齟齬可能性（版ズレ/改定日の前後関係）。\n目的/スコープ/前提・制約の横断整合。\n\
            業務要求の抽出と整流化\n業務KGI/KPI・制約・ユースケースを正規化。曖昧語・重複・矛盾を特定。\n機能要求の候補化（スペック→要件）\n\
            画面/操作・API/IF・バッチ・ジョブ/イベント・ワークフローを**REQ-###**で粒度統一。\n入出力・前提/トリガー・例外系・優先度(MoSCoW)を暫定付与。根拠は文書番号で脚注化。\n\
            非機能要求の候補化（JIS X 25010 準拠）\n可用性/性能/セキュリティ/信頼性/保守性/移植性/互換性/ユーザビリティ等を**NFR-###**化。\n\
            測定式/閾値/計測点/監視方法/責任境界を明記（SLA/SLI/SLO 連携）。\nデータ/PII/法令・契約の整合\nエンティティ/主キー/保持期間/マスキング/匿名化/監査ログ/越境有無(APPI等)。\n\
            契約・規程・同意文面と実装期待の間の差分・リスクを抽出。\nAPI/外部IF仕様の完全性検査\nメソッド/パス/スキーマ/認証認可/レート制限/エラー/バージョニング/互換ポリシー。\n\
            運用・監視・SOPの検証\n権限分掌、バックアップ、RPO/RTO、変更/障害/インシデント、監査証跡の欠落を検出。\nリスク&未決事項の形成\n\
            影響度×確率、緩和策、決裁/ガバナンスのトリガー。要確認質問リストを作成。\nトレーサビリティ初期表\nスペック条項 → REQ/NFR →\
            \ 受入基準 を連結（章/項番で参照）。\n重要：すべての主張にスペック根拠（doc_id/章/項/頁）を付す。判断不能は「仮説：」。\n\U0001F4E4\
            出力フォーマット\nA. 日本式サマリー（Markdown）\n分析サマリー（範囲/基準/限界/前提）\nスコープ&前提・制約（横断整合）\n\
            業務KGI/KPI（数量化）\n機能要件候補（REQ-###）\n表：ID｜名称｜要約｜前提/トリガー｜入力/出力｜例外｜優先度(M/S/C/W)｜根拠(doc/章/項/頁)\n\
            非機能要件候補（NFR-###）\n表：ID｜品質特性(JIS X 25010)｜測定式/閾値/計測点/監視｜責任境界｜根拠｜優先度\nデータ/PII・法令/契約整理\n\
            表：データ名｜PII区分｜保存期間｜マスキング/暗号化｜第三者提供｜越境可否｜監査要件｜根拠\nAPI/外部IF 抜粋チェックリスト\n表：API-ID｜目的｜メソッド/パス｜入出力｜認証認可｜レート制限｜エラー｜Version｜根拠\n\
            運用・監視・SOP 要求（初版）\n表：領域｜RPO/RTO｜権限分掌｜変更/障害/インシデント手順｜監査証跡｜根拠\n受入観点（検収たたき台）\n\
            表：対象(REQ/NFR)｜合格基準｜検証方法（テスト/計測/監査）｜観測点/データソース\n重複・矛盾・曖昧表現 一覧（改善提案付き）\n\
            リスク登録簿（初版）\n表：RISK-ID｜内容｜確率/影響｜対策｜トリガー｜根拠\n未決事項/要確認質問リスト\n表：Q-ID｜質問内容｜理由（根拠箇所）｜回答責任者｜期限\n\
            トレーサビリティ初期表\n表：doc/章/項/頁｜関連REQ/NFR｜受入基準｜備考\nB. 機械可読サマリー（JSON）\n{\n  \"\
            context\": {\"project\":\"<CONTEXT>\",\"constraints\":\"<CONSTRAINTS>\"\
            },\n  \"docs\": [{\"id\":\"DOC-001\",\"type\":\"prd\",\"version\":\"v1.2\"\
            ,\"title\":\"...\", \"effective_date\":\"2025-05-01\"}],\n  \"kpi\": [{\"\
            name\":\"\",\"baseline\":\"\",\"target\":\"\",\"due\":\"\"}],\n  \"requirements\"\
            : [\n    {\"id\":\"REQ-001\",\"title\":\"\",\"summary\":\"\",\"priority\"\
            :\"M|S|C|W\",\"evidence\":\"DOC-001 §3.2( p.12 )\"}\n  ],\n  \"nfr\":\
            \ [\n    {\"id\":\"NFR-001\",\"quality\":\"availability\",\"metric\":\"\
            uptime%\",\"threshold\":\"99.9\",\"measure_point\":\"synthetic\",\"monitoring\"\
            :\"ping+trace\",\"owner\":\"Ops\",\"evidence\":\"DOC-002 SLA §2\"}\n \
            \ ],\n  \"data_pii\":[\n    {\"entity\":\"\",\"pii_class\":\"\",\"retention\"\
            :\"\",\"masking\":\"\",\"third_party\":\"\",\"cross_border\":false,\"\
            audit\":\"\",\"evidence\":\"DOC-003 policy §4\"}\n  ],\n  \"apis\":[\n\
            \    {\"id\":\"API-001\",\"method\":\"POST\",\"path\":\"/v1/orders\",\"\
            schema_in\":{},\"schema_out\":{},\"auth\":\"oauth2\",\"rate_limit\":\"\
            100rpm\",\"errors\":[\"400\",\"401\",\"429\",\"5xx\"],\"version\":\"v1\"\
            ,\"evidence\":\"DOC-004 api §5\"}\n  ],\n  \"ops\":[\n    {\"area\":\"\
            backup\",\"rpo\":\"<=5m\",\"rto\":\"<=30m\",\"change_mgmt\":\"CAB\",\"\
            audit_log\":true,\"evidence\":\"DOC-005 ops §7\"}\n  ],\n  \"acceptance\"\
            :[\n    {\"target_id\":\"REQ-001|NFR-001\",\"criteria\":\"\",\"method\"\
            :\"test|measure|audit\",\"probe\":\"\"}\n  ],\n  \"risks\":[\n    {\"\
            id\":\"RISK-001\",\"desc\":\"\",\"likelihood\":\"L|M|H\",\"impact\":\"\
            L|M|H\",\"mitigation\":\"\",\"trigger\":\"\",\"evidence\":\"DOC-006 §8\"\
            }\n  ],\n  \"open_questions\":[\n    {\"id\":\"Q-001\",\"question\":\"\
            \",\"reason\":\"spec gap in DOC-001 §4\",\"owner\":\"\",\"due\":\"\"}\n\
            \  ],\n  \"trace\":[\n    {\"spec_ref\":\"DOC-001 §3.2\",\"req\":[\"REQ-001\"\
            ],\"nfr\":[\"NFR-001\"],\"accept\":[\"ACC-001\"]}\n  ]\n}\n\n✅品質チェック（自動で実施し、章末に結果を明記）\n\
            根拠完全性：各主張に doc/章/項/頁 の参照があるか\n版整合：相互に影響する文書の版・発効日の不整合検知\nNFR測定可能性：測定式/閾値/計測点/監視/責任境界の欠落\n\
            API完全性：認証認可/レート制限/エラー/Version の欠落\nPII/法令：APPI観点（分類/保存/第三者提供/越境/監査）の不足\n\
            受入網羅：すべての REQ/NFR に合格基準×検証方法が紐付くか\n矛盾/曖昧語：本文内の競合と曖昧表現（要修正案付き）\n\U0001F5E3\
            出力スタイル\n中立・簡潔・検証可能。日本語。\n推測は「仮説：…」と明示。不明点は質問化して未決事項へ。\n表と箇条書きを多用し、レビュー容易性を最優先。"
        selected: false
        title: LLM-スペック分析
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1760832068250'
      position:
        x: 688
        y: 374
      positionAbsolute:
        x: 688
        y: 374
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_array_file: false
        selected: false
        title: テキスト抽出ツールーユーザー要望
        type: document-extractor
        variable_selector:
        - '1760832044585'
        - file
      height: 91
      id: '1760832073650'
      position:
        x: 384
        y: 466
      positionAbsolute:
        x: 384
        y: 466
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: chatgpt-4o-latest
          provider: langgenius/openai/openai
        prompt_template:
        - id: 89f63833-0666-42c5-afec-4844d9921963
          role: system
          text: "あなたは日本のSI案件で要件定義を行う上級ビジネスアナリストです。\n以下の**入力（ユーザー要望ファイル）**を精査し、矛盾・曖昧・抜け漏れを洗い出し、日本式の要件定義に直結する分析結果を作成してください。\n\
            推定・仮説は必ず「仮説：」と明記し、要確認事項に整理します。\n\U0001F4E5入力\n<{{#1760832073650.text#}}>\n\
            \n[任意の補助情報]\n<CONTEXT>[プロジェクト背景/対象業務の一言要約]\n<CONSTRAINTS>[既知の制約や前提（法規/セキュリティ/納期/予算/互換など）]\n\
            <STAKEHOLDERS>[分かっている関係者（例：業務部/IT部/法務/CS）]\n<TERMS>[ドメイン用語・略語の初期リストがあれば]\n\
            \n\U0001F50E分析タスク（実施順）\n構造化：要望ファイルを文・段落単位で分割し、要望種別（機能/非機能/データ/運用/セキュリティ/法務/UX/コスト）に自動タグ付け。\n\
            重複・矛盾・曖昧語の検出：重複統合、矛盾箇所、曖昧/強い形容（例：「柔軟」「迅速」「十分」）に警告タグ。\n業務目標・KGI/KPI抽出：成果指標（例：処理時間、成約率、誤検知率、運用工数）を数量化。\n\
            機能要求の候補化：業務ユースケース視点で粒度を揃え、**REQ-###**で付番。MoSCoW（M/S/C/W）で優先度を暫定付与。\n非機能要求の候補化：JIS\
            \ X 25010を参照し、**NFR-###**で付番（可用/性能/セキュリティ/互換/信頼性/保守性/移植性/ユーザビリティ等）。測定式/閾値/計測点を必須化。\n\
            データ/PII/法令：主要データ項目とPII分類、保存期間、マスキング/匿名化、監査・越境可否（APPI等）を一次整理。\n受入観点（検収基準のたたき台）：機能/非機能/データ/セキュリティ/運用の検証方法×合格基準を結び付ける。\n\
            前提・制約/対象範囲（In/Out）：明文化。将来要求は「将来課題」へ。\nリスク&未決事項：確率×影響、暫定対策、要確認質問リスト（期限/責任者）を作成。\n\
            トレーサビリティ初期表：要望→REQ/NFR→受入基準の連結を開始。\n重要：原文引用を適宜添え、解釈の根拠を脚注として残すこと。\n\U0001F4E4\
            出力フォーマット\n以下2つを同時に出力します。（Aは可読性重視、Bは機械可読）\nA. 日本式サマリー（Markdown）\n分析概要（範囲/前提/用いた基準）\n\
            業務目標・KGI/KPI（数量化）\n機能要求候補（REQ-###）\n表：ID｜名称｜要約｜根拠（原文参照）｜優先度(M/S/C/W)｜関係UC/業務\n\
            非機能要求候補（NFR-###）\n表：ID｜品質特性(JIS X 25010)｜測定式/閾値/計測点｜根拠｜優先度\nデータ/PII・法令整理（初版）\n\
            表：データ名｜PII区分｜保存期間｜マスキング/暗号化｜監査要件｜越境可否\n受入観点（たたき台）\n表：対象(REQ/NFR)｜合格基準｜検証方法（テスト/計測/監査）\n\
            対象範囲（In/Out）と前提・制約\nリスク登録簿（初版）\n表：RISK-ID｜内容｜確率/影響｜対策｜トリガー\n未決事項/要確認質問リスト\n\
            表：Q-ID｜質問内容｜理由（根拠箇所）｜回答責任者｜回答期限\n発見された重複・矛盾・曖昧表現一覧（改善提案付き）\n原文トレーサビリティ脚注（要点と原文抜粋の紐付け）\n\
            B. 機械可読サマリー（JSON）\n{\n  \"context\": {\"project\": \"<CONTEXT>\", \"constraints\"\
            : \"<CONSTRAINTS>\"},\n  \"kpi\": [{\"name\": \"\", \"baseline\": \"\"\
            , \"target\": \"\", \"due\": \"\"}],\n  \"requirements\": [\n    {\"id\"\
            :\"REQ-001\",\"title\":\"\",\"summary\":\"\",\"priority\":\"M|S|C|W\"\
            ,\"evidence\":\"<原文抜粋または行番号>\"}\n  ],\n  \"nfr\": [\n    {\"id\":\"NFR-001\"\
            ,\"quality\":\"availability|performance|security|...\",\"metric\":\"式\"\
            ,\"threshold\":\"値\",\"measure_point\":\"場所\",\"evidence\":\"...\"}\n\
            \  ],\n  \"data_pii\":[\n    {\"entity\":\"\",\"pii_class\":\"\",\"retention\"\
            :\"\",\"masking\":\"\",\"audit\":\"\",\"cross_border\":false}\n  ],\n\
            \  \"acceptance\":[\n    {\"target_id\":\"REQ-001|NFR-001\",\"criteria\"\
            :\"\",\"method\":\"test|measure|audit\"}\n  ],\n  \"scope\":{\"in\":[\"\
            \"],\"out\":[\"\"],\"assumptions\":[\"\"],\"constraints\":[\"\"]},\n \
            \ \"risks\":[\n    {\"id\":\"RISK-001\",\"desc\":\"\",\"likelihood\":\"\
            L|M|H\",\"impact\":\"L|M|H\",\"mitigation\":\"\",\"trigger\":\"\"}\n \
            \ ],\n  \"open_questions\":[\n    {\"id\":\"Q-001\",\"question\":\"\"\
            ,\"reason\":\"\",\"owner\":\"\",\"due\":\"\"}\n  ],\n  \"issues\":{\"\
            duplicates\":[...],\"conflicts\":[...],\"ambiguous_terms\":[...]}\n}\n\
            \n✅品質チェック（自動で実施し、結果を章末に記載）\n曖昧語→定量化：全件に対し具体値・閾値・測定方法が提示されているか\nMoSCoWの妥当性：優先度の根拠が原文から説明可能か\n\
            NFRの測定可能性：SLO/SLI/計測点の欠落チェック\nPII/法令：APPI観点の最低限（分類/保存/第三者提供/越境/監査）\n受入基準の網羅：すべてのREQ/NFRに対応行があるか\n\
            トレーサビリティ：要望→REQ/NFR→受入基準のリンクが切れていないか\n\U0001F5E3出力スタイル\n中立・簡潔・検証可能。日本語。\n\
            推測は「仮説：…」と明示。原文根拠を脚注で示す。\n表と箇条書きを多用し、レビュー容易性を最優先。\n\U0001F39B実行パラメータ\n\
            <OUTPUT_DEPTH>[標準|簡潔|詳細]  # 出力の密度。既定=標準\n<ID_PREFIX>[\"REQ\",\"NFR\"]\
            \        # 変更可（例：\"FREQ\",\"QREQ\" など）\n<DETECTION_LEVEL>[保守的|標準|厳格] \
            \ # 曖昧語・矛盾検出の厳しさ\n\n例：ミニ入力\n<USER_NEEDS_FILE>\n- 顧客検索を高速化したい（できれば即時に）\n\
            - 個人情報の取り扱いは厳格に。国内リージョン保管\n- 夜間バッチの失敗が多い。安定化したい\n</USER_NEEDS_FILE>\n\n\
            <CONTEXT>CRMの見直し</CONTEXT>\n<CONSTRAINTS>リリース3ヶ月以内。ゼロダウンタイム</CONSTRAINTS>\n\
            <OUTPUT_DEPTH>標準</OUTPUT_DEPTH>"
        selected: false
        title: LLM-ユーザー要望分析
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1760832076610'
      position:
        x: 688
        y: 466
      positionAbsolute:
        x: 688
        y: 466
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: chatgpt-4o-latest
          provider: langgenius/openai/openai
        prompt_template:
        - id: 101867bf-4f2a-4e8b-abb5-648db8c6ade0
          role: system
          text: "あなたは日本のSI案件で要件定義を行う上級ビジネスアナリストです。\n以下の**入力（ユーザー要望ファイル）**を精査し、矛盾・曖昧・抜け漏れを洗い出し、日本式の要件定義に直結する分析結果を作成してください。\n\
            推定・仮説は必ず「仮説：」と明記し、要確認事項に整理します。\n\U0001F4E5入力\n<{{#1760832073650.text#}}>\n\
            \n[任意の補助情報]\n<CONTEXT>[プロジェクト背景/対象業務の一言要約]\n<CONSTRAINTS>[既知の制約や前提（法規/セキュリティ/納期/予算/互換など）]\n\
            <STAKEHOLDERS>[分かっている関係者（例：業務部/IT部/法務/CS）]\n<TERMS>[ドメイン用語・略語の初期リストがあれば]\n\
            \n\U0001F50E分析タスク（実施順）\n構造化：要望ファイルを文・段落単位で分割し、要望種別（機能/非機能/データ/運用/セキュリティ/法務/UX/コスト）に自動タグ付け。\n\
            重複・矛盾・曖昧語の検出：重複統合、矛盾箇所、曖昧/強い形容（例：「柔軟」「迅速」「十分」）に警告タグ。\n業務目標・KGI/KPI抽出：成果指標（例：処理時間、成約率、誤検知率、運用工数）を数量化。\n\
            機能要求の候補化：業務ユースケース視点で粒度を揃え、**REQ-###**で付番。MoSCoW（M/S/C/W）で優先度を暫定付与。\n非機能要求の候補化：JIS\
            \ X 25010を参照し、**NFR-###**で付番（可用/性能/セキュリティ/互換/信頼性/保守性/移植性/ユーザビリティ等）。測定式/閾値/計測点を必須化。\n\
            データ/PII/法令：主要データ項目とPII分類、保存期間、マスキング/匿名化、監査・越境可否（APPI等）を一次整理。\n受入観点（検収基準のたたき台）：機能/非機能/データ/セキュリティ/運用の検証方法×合格基準を結び付ける。\n\
            前提・制約/対象範囲（In/Out）：明文化。将来要求は「将来課題」へ。\nリスク&未決事項：確率×影響、暫定対策、要確認質問リスト（期限/責任者）を作成。\n\
            トレーサビリティ初期表：要望→REQ/NFR→受入基準の連結を開始。\n重要：原文引用を適宜添え、解釈の根拠を脚注として残すこと。\n\U0001F4E4\
            出力フォーマット\n以下2つを同時に出力します。（Aは可読性重視、Bは機械可読）\nA. 日本式サマリー（Markdown）\n分析概要（範囲/前提/用いた基準）\n\
            業務目標・KGI/KPI（数量化）\n機能要求候補（REQ-###）\n表：ID｜名称｜要約｜根拠（原文参照）｜優先度(M/S/C/W)｜関係UC/業務\n\
            非機能要求候補（NFR-###）\n表：ID｜品質特性(JIS X 25010)｜測定式/閾値/計測点｜根拠｜優先度\nデータ/PII・法令整理（初版）\n\
            表：データ名｜PII区分｜保存期間｜マスキング/暗号化｜監査要件｜越境可否\n受入観点（たたき台）\n表：対象(REQ/NFR)｜合格基準｜検証方法（テスト/計測/監査）\n\
            対象範囲（In/Out）と前提・制約\nリスク登録簿（初版）\n表：RISK-ID｜内容｜確率/影響｜対策｜トリガー\n未決事項/要確認質問リスト\n\
            表：Q-ID｜質問内容｜理由（根拠箇所）｜回答責任者｜回答期限\n発見された重複・矛盾・曖昧表現一覧（改善提案付き）\n原文トレーサビリティ脚注（要点と原文抜粋の紐付け）\n\
            B. 機械可読サマリー（JSON）\n{\n  \"context\": {\"project\": \"<CONTEXT>\", \"constraints\"\
            : \"<CONSTRAINTS>\"},\n  \"kpi\": [{\"name\": \"\", \"baseline\": \"\"\
            , \"target\": \"\", \"due\": \"\"}],\n  \"requirements\": [\n    {\"id\"\
            :\"REQ-001\",\"title\":\"\",\"summary\":\"\",\"priority\":\"M|S|C|W\"\
            ,\"evidence\":\"<原文抜粋または行番号>\"}\n  ],\n  \"nfr\": [\n    {\"id\":\"NFR-001\"\
            ,\"quality\":\"availability|performance|security|...\",\"metric\":\"式\"\
            ,\"threshold\":\"値\",\"measure_point\":\"場所\",\"evidence\":\"...\"}\n\
            \  ],\n  \"data_pii\":[\n    {\"entity\":\"\",\"pii_class\":\"\",\"retention\"\
            :\"\",\"masking\":\"\",\"audit\":\"\",\"cross_border\":false}\n  ],\n\
            \  \"acceptance\":[\n    {\"target_id\":\"REQ-001|NFR-001\",\"criteria\"\
            :\"\",\"method\":\"test|measure|audit\"}\n  ],\n  \"scope\":{\"in\":[\"\
            \"],\"out\":[\"\"],\"assumptions\":[\"\"],\"constraints\":[\"\"]},\n \
            \ \"risks\":[\n    {\"id\":\"RISK-001\",\"desc\":\"\",\"likelihood\":\"\
            L|M|H\",\"impact\":\"L|M|H\",\"mitigation\":\"\",\"trigger\":\"\"}\n \
            \ ],\n  \"open_questions\":[\n    {\"id\":\"Q-001\",\"question\":\"\"\
            ,\"reason\":\"\",\"owner\":\"\",\"due\":\"\"}\n  ],\n  \"issues\":{\"\
            duplicates\":[...],\"conflicts\":[...],\"ambiguous_terms\":[...]}\n}\n\
            \n✅品質チェック（自動で実施し、結果を章末に記載）\n曖昧語→定量化：全件に対し具体値・閾値・測定方法が提示されているか\nMoSCoWの妥当性：優先度の根拠が原文から説明可能か\n\
            NFRの測定可能性：SLO/SLI/計測点の欠落チェック\nPII/法令：APPI観点の最低限（分類/保存/第三者提供/越境/監査）\n受入基準の網羅：すべてのREQ/NFRに対応行があるか\n\
            トレーサビリティ：要望→REQ/NFR→受入基準のリンクが切れていないか\n\U0001F5E3出力スタイル\n中立・簡潔・検証可能。日本語。\n\
            推測は「仮説：…」と明示。原文根拠を脚注で示す。\n表と箇条書きを多用し、レビュー容易性を最優先。\n\U0001F39B実行パラメータ\n\
            <OUTPUT_DEPTH>[標準|簡潔|詳細]  # 出力の密度。既定=標準\n<ID_PREFIX>[\"REQ\",\"NFR\"]\
            \        # 変更可（例：\"FREQ\",\"QREQ\" など）\n<DETECTION_LEVEL>[保守的|標準|厳格] \
            \ # 曖昧語・矛盾検出の厳しさ\n\n例：ミニ入力\n<USER_NEEDS_FILE>\n- 顧客検索を高速化したい（できれば即時に）\n\
            - 個人情報の取り扱いは厳格に。国内リージョン保管\n- 夜間バッチの失敗が多い。安定化したい\n</USER_NEEDS_FILE>\n\n\
            <CONTEXT>CRMの見直し</CONTEXT>\n<CONSTRAINTS>リリース3ヶ月以内。ゼロダウンタイム</CONSTRAINTS>\n\
            <OUTPUT_DEPTH>標準</OUTPUT_DEPTH>\n"
        selected: false
        title: LLM-要件定義作成作成
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1760832080898'
      position:
        x: 992
        y: 466
      positionAbsolute:
        x: 992
        y: 466
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1760832080898'
          - text
          variable: text
        selected: false
        title: 終了
        type: end
      height: 89
      id: '1760832090538'
      position:
        x: 1296
        y: 466
      positionAbsolute:
        x: 1296
        y: 466
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 245.35065622518795
      y: -22.84068388530187
      zoom: 0.5000000300471217
